/* General Styles */
body {
    margin: 0;
    font-family: 'Hepta Slab', serif;
    background-color: #2D2726;
    color: #E6D8D6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1344px;
    height: 80px;
    padding: 16px 0;
    border-bottom: 1.5px solid #000000;
    margin: auto;
}

.header h1 {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 18px;
    cursor: pointer;
}

.main-title {
    font-family: 'Hepta Slab';  
    align-items: center;
    text-align: center;
    font-size: 120px;
    font-weight: 500;
    line-height: 120px;
    margin: 40px 0;
    letter-spacing: -0.02em;
    color: #E6D8D6;
}
.banner {
    text-align: center;
    margin-bottom: 40px;
}

.banner img {
    width: 90%;
    max-width: 1344px;
    height: auto;
    border-radius: 12px;
    border: 1.5px solid #000000;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 1344px;
    margin: auto;
}

.portfolio-item {
    width: 100%;
    height: auto;
    border: 1.5px solid #000;
    border-radius: 12px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}
.about-me {

    padding: 72px 0;
    font-size: 48px;
    line-height: 52px;
    border-bottom: 1.5px solid #000000;
    color:#E6D6D8;
    font-family: 'Hepta Slab';
}

.contact {
    text-align: center;
    padding: 72px 0;
}

.contact h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 24px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.subscribe input {
    width: 300px;
    padding: 10px;
    border: 1px solid #E6D8D6;
    border-radius: 4px;
    background-color: #2D2726;
    color: #E6D8D6;
}

.subscribe button {
    padding: 10px 20px;
    background-color: #E6D8D6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F59c5c;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: black;
}


footer {
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    border-top: 1.5px solid #000000;
}
/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-title {
        font-size: 80px;
        line-height: 80px;
    }

    .contact .subscribe input {
        width: 90%;
    }

    .banner img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 60px;
        line-height: 60px;
    }

    .nav-links {
        gap: 10px;
    }
}
